/* line 1, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-appearance: none;
  font-family: 'Raleway', sans-serif;
}

/* HTML5 display-role reset for older browsers */
/* line 24, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_reset.scss */
body {
  line-height: 1;
}

/* line 31, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
.main-container {
  height: 100%;
}

/* line 8, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
#root {
  height: 100%;
}

/* line 12, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
body {
  height: 100%;
}

/* line 16, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
html {
  height: 100%;
}

/* line 20, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
.link-route {
  text-decoration: none;
  color: #232726;
}

/* line 25, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
.flex-col {
  display: flex;
  flex-direction: column;
}

/* line 30, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
.flex-row {
  display: flex;
  flex-direction: row;
}

/* line 35, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
.flex-center-hor {
  display: flex;
  justify-content: center;
}

/* line 40, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
.flex-center-ver {
  display: flex;
  align-items: center;
}

/* line 45, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
.gen-button {
  height: 36px;
  padding: 0px 12px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #20b693;
  color: #20b693;
  font-size: 14px;
}

/* line 55, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
.gen-button:hover {
  color: #ffffff;
  background-color: #20b693;
}

/* line 60, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/_base.scss */
.comment-input {
  width: 60%;
  max-width: 640px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: white;
  color: #636e6d;
  font-size: 14px;
  box-sizing: border-box;
  padding: 17px;
}

/* line 3, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
.post-new-container {
  align-items: center;
}

/* line 7, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
.post-new-container form {
  padding: 20px;
  padding-top: 30px;
  width: 66%;
}

/* line 13, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
.post-new-title {
  width: 98%;
  border: none;
  border-bottom: 1px solid #d8f0ee;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
}

/* line 24, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
.quill {
  width: 100%;
  margin-top: 30px;
}

/* line 29, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
.post-new-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

/* line 36, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
input:focus {
  outline: none;
  border-bottom: 2px solid #20b693;
}

/* line 41, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
.post-new-photo-preview img {
  width: 100%;
  margin-top: 20px;
}

/* line 46, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
.post-errors {
  margin-top: 30px;
  color: #ed8484;
}

/* line 51, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
.post-errors li {
  font-size: 17px;
  margin: 10px;
}

/* line 56, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
#post-new-add-file input {
  display: none;
  margin: 10px;
}

/* line 61, /Users/ThuyDao/Desktop/channel/app/assets/stylesheets/post_new.scss */
#post-new-add-file {
  padding: 10px;
}
