@import 'reset';
@import 'specs';

.main-container {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.link-route {
  text-decoration: none;
  color: $black;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center-hor {
  display: flex;
  justify-content: center;
}

.flex-center-ver {
  display: flex;
  align-items: center;
}

.gen-button {
  height: 36px;
  padding: 0px 12px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid $dark-mint;
  color: $dark-mint;
  font-size: 14px;
}
