@import 'reset';
@import 'specs';

.main-container {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.link-route {
  text-decoration: none;
  color: $black;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center-hor {
  display: flex;
  justify-content: center;
}

.flex-center-ver {
  display: flex;
  align-items: center;
}

.gen-button {
  height: 36px;
  padding: 0px 12px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid $dark-mint;
  color: $dark-mint;
  font-size: 14px;
}

.gen-button:hover {
  color: $white;
  background-color: $dark-mint;
}

.comment-input {
  width: 60%;
  max-width: 640px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: white;
  color: $grey;
  font-size: 14px;
  box-sizing: border-box;
  padding: 17px;
}

.user-avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.user-avatar img {
  display: block;
  height: 100%;
  width: 100%;
}
