@import 'base';

.comment-form-container {
  background: $beige;
  padding-top: 50px;
}

.comment-form textarea, #comment-form-fake {
  width: 60%;
  max-width: 640px;
  height: 96px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: white;
  color: $grey;
  font-size: 14px;
}

#comment-form-fake {
  padding-left: 20px;
}

.comment-tag p {
  font-weight: bold;
  font-size: 15px;
  color: $grey;
  margin: 0 auto;
  margin-bottom: 17px;
}

.comment-tag {
  display: block;
  width: 60%;
  margin: 0 auto;
}
