@import 'base';

.comment-form-container {
  padding-top: 50px;
}

.comment-form-fake p {
  margin: 17px;
}

.comment-tag {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 640px;
  color: $grey;
  font-weight: bold;
}

.post-show-comment-items-container {
  margin: 20px;
}

.comments-container {
  background-color: $beige;
  padding-bottom: 50px;
}

.comment-body {
  margin-top: 10px;
  color: black;
  line-height: 140%;
}

.comment-form-wrapper {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 640px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: white;
  color: $grey;
  font-size: 14px;
  padding: 17px;
}

#comment-submit {
  width: 75px;
}

.comment-textarea {
  border: none;
  font-size: 15px;
  height: 130px;
  margin: 20px 0px;
}

.comment-textarea:focus {
  outline:none;
}

.comment-form-user p {
  color: $dark-mint;
  margin-left: 10px;
}

.comment-form-standin {
  border: none;
  font-size: 15px;
}

.comment-form-responses {
  width: 58%;
  margin: 0 auto;
}


.Modal {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 25%;
  margin: 0 auto;
  max-width: 965px;
  max-height: 630px;
  background-color: $mint;
}

.Modal:focus {
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 10;
}
