@import 'base';

.comment-form-container {
  padding-top: 50px;
}

.comment-form-fake p {
  margin: 17px;
}

.comment-tag p {
  font-weight: bold;
  font-size: 15px;
  color: $grey;
  margin: 0 auto;
  margin-bottom: 17px;
}

.comment-tag {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.post-show-comment-items-container {
  margin: 20px;
}

.comments-container {
  background-color: $beige;
  padding-bottom: 50px;
}

.comment-body {
  margin-top: 20px;
  color: black;
}

.comment-form-wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}

#comment-submit {
  width: 75px;
}

.comment-textarea {
  border: none;
  font-size: 15px;
  height: 130px;
  margin: 20px 0px;
}

.comment-textarea:focus {
  outline:none;
}

.comment-form-user p {
  color: $dark-mint;
  margin-left: 10px;
}


.Modal {
  position: absolute;
  top: 17%;
  left: 17%;
  right: 17%;
  bottom: 17%;
  background-color: $mint;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
