@import 'base';

.main-inner-header {
  margin: 0 auto;
}

.main-logo {
  height: 50px;
  background-color: $white;
  padding: 17px 10% 17px 10%;
  justify-content: space-between;
  border-bottom: 1px solid $light-grey;
}

.main-logo #logo {
  font-family: $playfair;
  font-size: 35px;
  color: $black;
}

.main-header-left, .main-header-right {
  display: flex;
  flex: 1;
}

.main-header-right {
  justify-content: flex-end;
}

.main-logo a {
  text-decoration: none;
  color: $grey;
  font-size: 17px;
}

#main-login, .main-signin a {
  color: $dark-mint;
}

.main-signin {
  padding: 10px 17px;
  border: 1px solid $dark-mint;
  border-radius: 5px;
}

.login-signup {
  justify-content: space-between;
  width: 198px;
}

.login-signup div {
  border-radius: 5px;
  border: 1px solid $dark-mint;
  padding: 10px 17px;
}

.login-signup a, div a {
  color: $dark-mint;
}


.header-logged-in {
  width: 60px;
  justify-content: space-around;
  color: $grey;
}

.header-logged-in i:hover {
  color: black;
}

.menu li {
  margin: 15px;
}

.menu li:hover, #post-new-link:hover, .header-logout:hover {
  color: black
}

.header-logout {
  color: $grey;
  background-color: transparent;
  font-size: 17px;
}

.dropdown-container {
  display: none;
}

.dropdown:hover .dropdown-container {
  padding-top: 20px;
  display: block;
  right: 30px;
  top: 52px;
  position: absolute;
  background-color: white;
  z-index: 10;
}

.dropdown:hover .menu {
  width: 210px;
  padding: 20px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid $light-grey;
}

.line {
  border-top: 1px solid $light-grey;
  width: 100%;
}

#header-edit {
  margin-right: 20px;
}

#header-edit:hover {
  color: black;
}
