@import 'base';

.main-inner-header {
  border-bottom: 1px solid $light-grey;
}

.main-logo {
  height: 50px;
  background-color: $white;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo #logo {
  font-family: $logo-font;
  font-size: 35px;
  color: $black;
}

.main-logo a {
  text-decoration: none;
  color: $grey;
  font-family: $railway;
  font-size: 14px;
}

#main-login, .main-signin a {
  color: $dark-mint;
  font-family: $railway;
}

.main-signin {
  padding: 10px 17px;
  border: 1px solid $dark-mint;
  border-radius: 5px;
}

.login-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}

.login-signup div {
  border-radius: 5px;
  border: 1px solid $dark-mint;
  padding: 10px 17px;
}

.login-signup a, div a {
  color: $dark-mint;
}
