@import 'base';

.post-items-container {
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.post-item-box {
  border: 1px solid $light-grey;
  display: flex;
  margin: 15px 15px;
}

.post-item-photo {
  height: 260px;
  width: 230px;
  box-sizing: border-box;
  margin: 0;
}

.post-item-info {
  height: 260px;
  width: 270px;
  box-sizing: border-box;
  margin: 0;
}

.post-item-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-item-info {
  padding: 15px 10px;
  justify-content: space-between;
}

.post-item-summary h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 120%;
}

.post-item-summary p {
  line-height: 120%;
}

.post-date, .post-item-summary p {
  color: $grey;
}

.post-item-details {
  display: flex;
  justify-content: center;
}

.post-item-date-time {
  display: block;
}
.post-date {
  margin-top: 5px;
}

.post-item-details-container {
  align-content: center;
  justify-content: space-between;
  height: 40px;
  margin-right: 10px;
  position: relative;
}

.post-item-avatar {
  padding-right: 10px;
}

.post-item-details-container > .fa-bookmark-o {
  color: $grey;
  position: absolute;
  top: 10px;
  right: 0px;
}
