$logo-font: 'Abril Fatface', cursive;
$reg-font: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$railway: 'Raleway', sans-serif;
$playfair:  'Playfair Display', serif;

//posts

$title-font: 'Ubuntu', sans-serif;
$body-font: 'Lora', serif;

//colors
$mint: #d8f0ee;
$white: #ffffff;
$light-grey: #f0f0f0;
$black: #232726;
$dark-mint: #20b693;
$grey: #636e6d;
$hot-pink: #fc014d;
$rose-pink: #deb4c6;
