@import 'base';

.user-profile-container {
  width: 80%;
  margin: 0 auto;
}

.user-profile-header {
  min-width: 60%;
  margin-top: 35px;
  margin-bottom: 20px;
}

.user-profile-details {
  display: flex;
  justify-content: space-between;
  min-height: 140px;
}

.user-profile-following {
  color: $grey;
}

.user-profile-following:hover {
  color: black;
  cursor: pointer;
}

.user-profile-header h2, .user-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 17px;
}

.user-name-bio {
  max-width: 70%;
  min-width: 30%;
}

.user-name-bio input, textarea {
  border: none;
  font-family: inherit;
}

.user-name-bio textarea, .user-name-bio p {
  min-height: 55px;
  font-size: 15px;
  line-height: 125%;
}

.user-name-bio p {
  width: 63%;
}

.user-name-bio textarea {
  width: 89%;
}

.user-profile-edit, .user-profile-cancel {
  border: 1px solid $grey;
  color: $grey;
  max-width: 60px;
  margin: 17px 0;
}

.user-profile-cancel {
  margin-left: 15px;
  max-width: 75px;
}

.user-profile-edit:hover, .user-profile-cancel:hover {
  background-color: transparent;
  border: 1px solid $black;
  color: black;
}

.user-profile-edit-photo {
  position: relative;
}

.user-profile-edit-photo label {
  position: absolute;
  width: 100%;
}

.fa-camera {
  color: $light-grey;
}

.user-profile-add-file {
  text-align: center;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-profile-add-file > .fa-camera:hover {
  color: white;
}

.user-profile-add-file input {
  display: none;
  margin: 10px;
}

.user-profile-nav-list {
  display: flex;
}

.user-profile-nav-list p {
  color: $grey;
  margin-right: 17px;
  padding-bottom: 10px;
}

.user-profile-nav-list p:hover {
  border-bottom: 1px solid $grey;
  color: black;
  cursor: pointer;
}

.user-profile-nav-list {
  border-bottom: 1px solid $light-grey;
}

.follow-button {
  display: inline-block;
  height: 23px;
  padding-top: 10px;
  margin-top: 15px;
}

.follows {
  display: flex;
  justify-content: space-between;
  width: 205px;
}

.follows-place-holder {
  font-size: 30px;
  font-weight: bold;
  color: #b7b7b7;
  margin-top: 20px;
  text-align: center;
}

.stories-place-holder {
  font-size: 22px;
  margin-top: 42px;
  color: grey;
}
